
.navigation-wrapper {
  display: block;
  position: absolute;
  left: -200px;
  top: 20px;
  //padding: 20px 0;
  //background: rgba($gray-darkest,.98);
  background: transparent;
  border-bottom: 1px solid rgba(255,255,255,.15);
}

.cover-navigation {
  display: block;
  position: relative;
  //float: left;
  clear: left;
  padding: 0;
  //width: 100%;

  .navigation {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;

    li {
      width: 80%;
      //width: 100%;
      margin-bottom: .4em;
    }

  }

  &.navigation--social {
    padding-top: 5px;

    .navigation {
      text-align: center;
      li {
        display: inline-block;
        //width: 25.8%;
        width: auto;
        height: auto;
        padding: 0;
        text-align: center;
      }

    }

  }

}

nav {
  display: inline-block;
  position: relative;
}
/*
.navigation {
  display: inline-block;
  float: left;
  position: relative;
  margin: 0;
  list-style-type: none;
}
*/

.navigation__item {
  display: inline-block;
  margin: 5px 1px 0 0;
  line-height: 1em;

  a {
    display: block;
    position: relative;
    // @extend .btn;
    @extend .btn-secondary;
    border-color: $red;
    color: $red;
    // border-color: #FFF;
    // color: #FFF;
    opacity: .8;
    height: 40px;
    line-height: 40px;
    text-align: center;

    &:hover {
      // color: #FFF;
      // border-color: #FFF;
      opacity: 1;
      background: $red;
      color: white;
    }

  }

}

.navigation--social {
  a {
    border: 0px;
    padding: 6px 8px 6px 9px;

    .label {
      display: none;
    }

    .icon {
      display: block;
      font-size: 1.7em;
    }

  }

}
